@charset "utf-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2018-01-16
******************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;500&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); /* 나눔스퀘어 */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700'); /* 영문폰트 :: Cabin */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

.Quicksand {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
}
/* layout */
body,
table,
th,
td,
button,
select,
input {
  font-family: 'Noto Sans KR', '나눔고딕', NanumGothic, 'Nanum Gothic', '돋움',
    Dotum, Arial, sans-serif;
  font-size: 13px;
  color: #666;
}
body {
  background-color: #fff;
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none !important;
}

#wrap {
  overflow: hidden;
  width: 100%;
  min-width: 320px;
  position: relative;
} /* min-width 홈페이지 컨텐츠 가로값에 맞게 변경 */

.font-pop {
  font-family: 'Poppins', sans-serif;
}
.font-noto-cn {
  font-family: 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}
/* ****************** 공통클래스 ********************** */
.area {
  max-width: 1200px;
  margin: 0px auto;
} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.area-box {
  max-width: 1500px;
  margin: 0px auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
  display: block;
  content: '';
}
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
.trans200 {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.trans300 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.trans400 {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.trans500 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.material-icons {
  line-height: inherit;
  color: inherit;
  vertical-align: middle;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-layout {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell-layout {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.over-img {
  overflow: hidden;
}
.over-img img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover .over-img img {
  -ms-transform: scale(1.1) rotate(0.02deg);
  -o-transform: scale(1.1) rotate(0.02deg);
  -moz-transform: scale(1.1) rotate(0.02deg);
  -webkit-transform: scale(1.1) rotate(0.02deg);
  transform: scale(1.1) rotate(0.02deg);
}

@media all and (max-width: 1520px) {
  .area-box {
    padding: 0 15px;
  }
}
@media all and (max-width: 1220px) {
  .area {
    padding: 0 15px;
  }
}
@media all and (max-width: 800px) {
  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}
/* ****************** HEADER ********************** */
#header {
  position: relative;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -o-transition: top 0.4s;
  -ms-transition: top 0.4s;
  transition: top 0.4s;
}
#headerInnerWrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 110px;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#headerInner {
  position: relative;
  height: 100%;
  max-width: 1500px;
  margin: 0px auto;
  padding: 0 15px;
}
#header .logo {
  position: relative;
  z-index: 100;
  float: left; /*padding:34px 0;*/
  padding-top: 36px;
  margin-top: 0;
  -webkit-transition: padding 0.4s;
  -moz-transition: padding 0.4s;
  -o-transition: padding 0.4s;
  -ms-transition: padding 0.4s;
  transition: padding 0.4s;
}
#header .logo a {
  display: block;
}
#header .logo img {
  vertical-align: top;
  transition: height 0.2s;
  display: inline-block;
  height: 42px;
}
#header .logo img.on {
  display: none;
}
#header .logo img.fixon {
  display: none;
}
#header .logo img.fixm {
  display: none;
}

/* -------- Header :: UTIL BOX -------- */
.header-util-box {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
  z-index: 100;
}

/* Header :: 언어선택 */
.header-lang {
  position: relative;
  float: left;
  z-index: 100;
}
.header-lang > span {
  display: inline-block;
  vertical-align: middle;
}
.header-lang > span:after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 11px;
  background-color: #fff;
  opacity: 0.5;
  filter: Alpha(opacity=50);
  margin: 0 16px;
}
.header-lang > span:last-child:after {
  display: none;
}
.header-lang > span a {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  letter-spacing: -0.5px;
}

.m-header-lang {
  position: relative;
  float: left;
  width: 100px;
  height: 46px;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
  display: none;
}
.m-header-lang .lang-open-btn {
  overflow: hidden;
  position: relative;
  display: block;
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  line-height: 46px;
  color: #fff;
}
.m-header-lang .lang-open-btn i {
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  font-size: 20px;
  margin-top: -2px;
}
.m-header-lang .lang-open-btn .arrow {
  position: absolute;
  top: 0px;
  right: 0px;
}
.m-header-lang .lang-open-btn .arrow i {
  font-size: 16px;
}
.m-header-lang > ul {
  position: absolute;
  top: 47px;
  left: -1px;
  z-index: 10;
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  opacity: 0;
  filter: Alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.m-header-lang > ul > li > a {
  display: block;
  padding: 0 10px;
  font-size: 12px;
  line-height: 30px;
  color: #333;
}
.m-header-lang > ul > li > a:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}
.m-header-lang.open .lang-open-btn .arrow i {
  transform: rotate(180deg);
  margin-top: -3px;
}
.m-header-lang.open > ul {
  opacity: 1;
  filter: Alpha(opacity=100);
  visibility: visible;
}

/* Header :: 사이트맵(기본형 or 커스텀) */
.sitemap-line-btn {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 35px;
}
.sitemap-line-btn .line {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 0px auto 7px;
}
.sitemap-line-btn .line:last-child {
  margin-bottom: 0;
}
.sitemap-custom-btn {
  float: left;
  width: 32px;
  height: 32px;
  color: #333;
  border: 1px solid #5c5c5c;
  border-color: #333;
  margin-left: 10px;
}
.sitemap-custom-btn i {
  font-size: 30px;
}

/* -------- Header :: GNB(PC) -------- */
.gnb-overlay-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 97;
} /* gnb overlay BG */
#gnbBg {
  /*display:none; */
  position: absolute;
  left: 0;
  top: 110px;
  width: 100%;
  height: 0;
  background-color: #05192c;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 98;
  opacity: 0;
  transition: height 0.2s, opacity 0.2s; /*visibility:hidden*/
} /* gnb 2depth BG */
#gnbBg .gnb-bg-inner {
  height: 100%;
  max-width: 1200px;
  margin: 0px auto;
  text-align: left;
}
#gnbBg .gnb-bg-inner > h3 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.5px;
  color: #fff;
  margin-top: 45px;
}
#gnb {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 99;
}
#gnb.open {
  background-color: #05192c;
}
#gnb > ul {
  max-width: 900px;
  margin: 0px auto;
  *display: inline;
  *zoom: 1;
  position: relative;
}
#gnb > ul > li {
  /*position:relative;*/
  float: left;
  width: 20%;
}
#gnb > ul > li > a {
  /*position:relative;*/
  z-index: 100;
  display: block;
  height: 110px;
  line-height: 110px;
  text-align: center;
  color: #333;
  font-size: 19px;
  letter-spacing: 0;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

#gnb.open #gnbBg {
  height: 180px;
  opacity: 1;
  visibility: visible;
}

#gnb > ul > li > a:hover,
#gnb > ul > li.on > a {
  color: #fff;
}
/* GNB :: 2차 전체메뉴 */
/*#gnb.total-menu > ul > li .gnb-2dep{
	display:none;
	position:absolute;
	top:110px;
	left:0px;
	z-index:99;
	width:100%;
	height:239px;
	text-align:left;
}
#gnb.total-menu > ul > li:hover .gnb-2dep{}*/
#gnb > ul > li .gnb-2dep ul {
  padding-top: 38px;
}
#gnb > ul > li .gnb-2dep ul li {
  position: relative;
  margin: 10px 0;
}
#gnb > ul > li .gnb-2dep ul li a {
  display: inline-block;
  color: #777;
  font-size: 15px;
  line-height: 23px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb > ul > li .gnb-2dep ul li a span {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  transition: all 0.3s;
  padding: 0 0 10px 18px;
}
#gnb > ul > li .gnb-2dep ul li a span:after {
  position: absolute;
  display: inline-block;
  content: '\e93f';
  font-family: xeicon;
  right: 0;
  top: 0;
}
#gnb > ul > li .gnb-2dep ul li a:hover {
  color: #3e9bc8;
}
#gnb > ul > li .gnb-2dep ul li a:hover span {
  border-color: rgba(255, 255, 255, 1);
}

/* GNB :: 2차 각각메뉴 */
#gnb.total-menu > ul > li .gnb-2dep {
  /* display:none; */
  position: absolute;
  top: 110px;
  /*left:0px;*/
  z-index: 99;
  /*width:100%; */
  width: 1200px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  filter: Alpha(opacity=0);
  height: 180px;
  right: -150px;
}
/*#gnb.total-menu > ul > li .gnb-2dep:before{
	content:""; position:absolute; top:-20px; left:0px; right:0px; height:0; opacity:0;filter:Alpha(opacity=0); background-color:#f57f20; 
	-webkit-transition:all 0.4s; transition:all 0.4s
}*/
#gnb.total-menu > ul > li .gnb-2dep ul {
  width: 830px;
  float: right;
}
#gnb.total-menu > ul > li .gnb-2dep ul li {
  position: relative;
  opacity: 0;
  filter: Alpha(opacity=0);
  -webkit-transition: all 0s 0s;
  -moz-transition: all 0s 0s;
  -o-transition: all 0s 0s;
  -ms-transition: all 0s 0s;
  transition: all 0s 0s;
  display: inline-block;
  width: calc(33.333% - 40px);
  margin-right: 38px;
}
#gnb.total-menu > ul > li .gnb-2dep ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.3;
  opacity: 0.5;
  filter: Alpha(opacity=50);
}
#gnb.total-menu > ul > li .gnb-2dep ul li a:hover {
  opacity: 1;
  filter: Alpha(opacity=100);
}
/* over했을때 */
#gnb.total-menu > ul > li:hover .gnb-2dep:before {
  height: calc(100% + 20px);
  opacity: 1;
  filter: Alpha(opacity=100);
}
#gnb.total-menu > ul > li .gnb-2dep.open {
  visibility: visible;
  opacity: 1;
  filter: Alpha(opacity=100);
}
#gnb > ul > li .gnb-2dep.open ul li {
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/* -------- Header :: GNB(Mobile) -------- */
.nav-open-btn {
  display: none;
}
#gnbM {
  display: none;
}

/* -------- Header :: 스타일변경 -------- */
/* Header :: 헤더가 비주얼 배경위에 있는 스타일 */
#header.fixed-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
#header.fixed-header #headerInnerWrap {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}
#header.fixed-header .sitemap-line-btn .line {
  background-color: #fff;
}
#header.fixed-header #gnb {
}
#header.fixed-header #gnb > ul > li > a {
  color: #fff;
}

/* Header :: FIXED 스타일 (PC스타일) */
#header.fixed #headerInnerWrap {
  position: fixed;
  top: 0;
  height: 70px; /*background-color:#fff;*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
#header.fixed .logo {
  padding: 19px 0;
}
#header.fixed .logo img {
  height: 33px;
}

#header.fixed #gnbBg {
  top: 70px;
  visibility: visible;
}
#header.fixed #gnb > ul > li > a {
  height: 70px;
  line-height: 70px;
}
#header.fixed #gnb.total-menu > ul > li .gnb-2dep {
  top: 70px;
}
#header.fixed-header.fixed.over .logo img.on {
  display: none;
}

/* ****************** FOOTER ********************** */
#footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
}
#footerInner {
  position: relative;
}

/* Footer :: 상단 */
.footer-top-con {
  padding: 15px 0;
  position: relative;
}
.footer-top-con .footer-link-list li {
  display: inline-block;
  margin: 0 30px;
}
.footer-top-con .footer-link-list li a {
  font-weight: 400;
  font-size: 14px;
  color: #7a7a7a;
}
.to-top-btn {
  position: absolute;
  right: 0;
  top: -1px;
  display: block;
  border: 1px solid #cecece;
  text-align: center;
  height: 62px;
  width: 55px;
  background-color: #fff;
}
.to-top-btn i {
  margin-top: 16px;
}
.to-top-btn span {
  display: block;
  margin-top: 5px;
  font-size: 14.42px;
}

/* Footer :: 하단  */
.footer-bottom-con {
  padding: 35px 0 40px;
  border-top: 1px solid #eee;
}
.footer-bottom-con .copyright {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.52px;
  color: #b6b6b6;
}
.footer-bottom-con .foot-logo {
  display: inline-block;
  margin-top: 22px;
}

/* ****************** SUB LAYOUT ********************** */
/*  SUB LAYOUT :: 비주얼 */
#visual {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
#visual .visual-img-con {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: transform 5000ms ease-in-out;
  transition: transform 5000ms ease-in-out;
}

#visual .visual-txt-con {
  position: absolute;
  bottom: 48px;
  width: 100%;
}
#visual .sub-visual-txt-inner {
  width: 100%;
  box-sizing: border-box;
}
#visual .sub-visual-txt-inner .visual-tit,
#visual .sub-visual-txt-inner .visual-sub-txt-box {
  display: inline-block;
  vertical-align: middle;
}
#visual .visual-tit {
  padding-right: 52px;
}
#visual .visual-tit > h2 {
  font-size: 54px;
  color: #fff;
  letter-spacing: -0.5px;
  font-weight: 600;
}
#visual .visual-sub-txt-box {
  padding-left: 43px;
  border-left: 1px solid #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#visual .visual-sub-tit {
  font-size: 26px;
  color: #fff;
  letter-spacing: -0.5px;
  font-weight: 500;
  opacity: 0.7;
  filter: Alpha(opacity=70);
  margin-bottom: 20px;
}
#visual .visual-sub-txt {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  letter-spacing: -0.75px;
  font-weight: 400;
  opacity: 0.5;
  filter: Alpha(opacity=50);
}

#visual .visual-tit > h2,
#visual .visual-sub-tit,
#visual .visual-sub-txt {
  position: relative;
  left: -30px;
  opacity: 0;
  filter: Alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

#visual.active .visual-tit > h2,
#visual.active .visual-sub-tit {
  left: 0;
  opacity: 1;
  filter: Alpha(opacity=100);
  visibility: visible;
}
#visual.active .visual-sub-txt {
  left: 0;
  opacity: 0.5;
  filter: Alpha(opacity=50);
  visibility: visible;
}
#visual.active .visual-sub-tit,
#visual.active .visual-sub-txt {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* SUB LAYOUT :: 상단효과 active */
#visual.active .visual-img-con {
  -webkit-transform: scale(1, 1) rotate(0.002deg);
  transform: scale(1, 1) rotate(0.002deg);
}

/*  SUB LAYOUT :: 서브메뉴 */
#sideMenuM {
  display: none;
}
#sideMenu {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #ddd;
}
#sideMenu .side-menu-inner {
}
#sideMenu .side-menu-inner .location-to-home-btn {
  float: left;
  border-left: 1px solid #ddd;
  padding: 17px 0;
  width: 245px;
  box-sizing: border-box;
  text-align: center;
}
#sideMenu .side-menu-inner > ul {
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-left: 1px solid #ddd;
  width: calc(100% - 246px);
  box-sizing: border-box;
}
#sideMenu .side-menu-inner > ul > li {
  float: left; /*min-width:210px;*/
  width: 16.666%; /*border-right:1px solid #ddd; box-sizing:border-box*/
  position: relative;
}
#sideMenu .side-menu-inner > ul > li:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #ddd;
  right: 0;
  top: 0;
}
#sideMenu .side-menu-inner > ul > li > a {
  position: relative;
  display: table;
  height: 68px; /*line-height:68px;padding:0 25px;*/
  color: #444;
  font-size: 17px;
  letter-spacing: -0.5px;
  font-weight: 400;
  width: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  background: #fff;
}
#sideMenu .side-menu-inner > ul > li > a span:first-child {
  display: table-cell;
  vertical-align: middle;
  padding: 0 32px 0 25px;
}
#sideMenu .side-menu-inner > ul > li > a .snb-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 14px;
  right: 20px;
  color: #999;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
#sideMenu .side-menu-inner > ul > li > a .snb-icon img {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  line-height: 14px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
#sideMenu .side-menu-inner > ul > li > a .snb-icon img.on {
  opacity: 0;
  filter: Alpha(opacity=0);
  visibility: hidden;
}
#sideMenu .side-menu-inner > ul > li.on > a,
#sideMenu .side-menu-inner > ul > li:hover > a {
  color: #fff;
  background-color: #024f9d;
}
#sideMenu .side-menu-inner > ul > li.on > a .snb-icon,
#sideMenu .side-menu-inner > ul > li:hover > a .snb-icon {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
#sideMenu .side-menu-inner > ul > li:hover > a .snb-icon {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#sideMenu .side-menu-inner > ul > li.on > a .snb-icon img.on,
#sideMenu .side-menu-inner > ul > li:hover > a .snb-icon img.on {
  opacity: 1;
  filter: Alpha(opacity=100);
  visibility: visible;
}
#sideMenu .side-menu-inner > ul > li.on > a .snb-icon img.off,
#sideMenu .side-menu-inner > ul > li:hover > a .snb-icon img.off {
  opacity: 0;
  filter: Alpha(opacity=0);
  visibility: hidden;
}

/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
#content {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ****************** MODAL LAYERPOPUP ********************** */
/* modal layer */
.modal-fixed-pop-wrapper {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
.modal-fixed-pop-inner {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.modal-inner-box {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.modal-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  z-index: 10000;
}
.modal-inner-content {
  text-align: left;
}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* modal layer content */
.footer-modal-content {
  position: relative;
  width: 96%;
  max-width: 1700px;
  margin: 20px auto;
}
.footer-modal-content h1 {
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 0;
  color: #fff;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bcbc', endColorstr='#3e9bc8',GradientType=1 );
}
.modal-close-btn {
  position: absolute;
  top: 11px;
  right: 10px;
  color: #fff;
}
.modal-close-btn i {
  font-size: 38px;
}
.modal-close-btn i:hover {
  color: #fff;
}
.footer-inner-box {
  padding: 30px;
}
.footer-inner {
  padding: 20px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
}

.sitemap-wrapper > ul {
  overflow: hidden;
}
.sitemap-wrapper > ul > li {
  float: left;
  width: 20%;
  text-align: center;
}
.sitemap-wrapper.menu4 > ul > li {
  width: 25%;
}
.sitemap-wrapper.menu6 > ul > li {
  width: 16.6%;
}
.sitemap-wrapper.menu7 > ul > li {
  width: 14.2%;
}
.sitemap-wrapper > ul > li > h2 {
  color: #fff;
  margin: 0 8% 20px 8%;
  padding-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #666;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: 400;
  word-break: keep-all;
  line-height: 1.4;
}
.sitemap-wrapper > ul > li .sitemap-2dep {
  padding: 0 5%;
}
.sitemap-wrapper > ul > li .sitemap-2dep a {
  display: block;
  padding: 8px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4em;
  word-break: keep-all;
}
.sitemap-wrapper > ul > li .sitemap-2dep a:hover {
  color: #024f9d;
  text-decoration: underline;
}
#siteMapCon .modal-close-btn {
  top: -200px;
}

/* 개인정보처리방침 */
.footer-modal-content.privacy-modal {
  max-width: 1200px;
}
.footer-modal-content.privacy-modal .footer-inner {
  background-color: #fff;
}

@media all and (max-width: 800px) {
  /* modal layer content */
  .footer-modal-content h1 {
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    text-align: left;
    padding: 0 15px;
  }
  .modal-close-btn i {
    font-size: 24px;
  }
  .footer-inner-box {
    padding: 15px;
  }
  .footer-inner {
    padding: 10px;
    height: 250px;
  }
  /* 사이트맵  */
  .sitemap-wrapper {
    padding: 15px;
  }
}

/* ------200114 KEB-------- */

@media all and (max-width: 480px) {
  #header.fixed-header .logo img.on {
    display: none;
  }
  #header.fixed-header .logo img.off {
    display: none;
  }
  #header.fixed-header .logo img.fixon {
    display: none;
  }
  #header.fixed-header.fixed .logo img.fixon {
    display: block;
  }
  #header.fixed-header .logo img.fixm {
    display: block;
  }
  #header.fixed-header.fixed .logo img.fixm {
    display: none;
  }
}

/* ------ Custom -------- */
.page-tit {
  font-size: 42px;
  color: #343434;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
}
.page-tit:after {
  display: block;
  content: '';
  width: 29px;
  height: 3px;
  margin: 30px auto 45px;
  background: rgb(68, 188, 188);
  background: -moz-linear-gradient(
    left,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bcbc', endColorstr='#3e9cc8',GradientType=1 );
}
.con-tit {
  text-align: center;
}
.con-tit h3 {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.5px;
  color: #343434;
  line-height: 1.5em;
}
.con-head-bx > h4 {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #fff;
  padding: 20px 0;
  background: rgb(68, 188, 188);
  background: -moz-linear-gradient(
    left,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44bcbc', endColorstr='#3e9cc8',GradientType=1 );
  margin-bottom: 50px;
}

@media all and (max-width: 800px) {
  .page-tit {
    font-size: 25px;
  }
  .con-tit h3 {
    font-size: 23px;
  }
  .con-head-bx > h4 {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    margin-bottom: 20px;
  }
}

.btn-goto {
  display: inline-block;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #555;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 15px 38px;
  background-size: 15%;
  font-size: 18px;
  font-weight: 600;
  line-height: inherit;
  color: #fff;
  background: rgb(68, 188, 188);
  background: -moz-linear-gradient(
    left,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(68, 188, 188, 1) 0%,
    rgba(62, 156, 200, 1) 100%
  );
  margin: 10px 0;
}

.double-quoted strong {
  font-weight: 700;
  color: #2e2e2e;
}

.grey-box {
  background: #f7f7f7;
  text-align: center;
  padding: 37px 5% 34px;
  box-sizing: border-box;
}

/* 우측 퀵메뉴 */
.quick-menu {
  position: fixed;
  top: 50%;
  right: 60px;
  z-index: 9;
  transform: translateY(-50%);
  text-align: right;
  transition: opacity 0.2s, right 0.3s;
  overflow: hidden;
}
.quick-menu li {
  display: block;
  margin-bottom: 8px;
  position: relative;
  text-align: right;
}
.quick-menu li:last-child {
  margin-bottom: 0;
}
.quick-menu li a {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  text-align: right;
  overflow: hidden;
  transition: width 0.2s, background-color 0.2s;
}
.quick-menu li em {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.5px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: 46px;
  position: relative;
  right: -60px;
  min-width: 60px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s 0.14s;
}
.quick-menu li span {
  display: inline-block;
  width: 46px;
  height: 100%;
  color: #333;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}
.quick-menu li span i {
  font-size: 20px;
  line-height: 46px;
}

.quick-menu li a:hover {
  width: 100%;
  background-color: #024f9d;
  border-radius: 30px;
}
.quick-menu li a:hover em {
  right: 0;
  padding-right: 44px;
  padding-left: 20px;
  visibility: visible;
  opacity: 1;
}
.quick-menu li a:hover span {
  color: #fff;
}

.quick-menu.fixed li a {
  background-color: #024f9d;
}
.quick-menu.fixed li span {
  color: #fff;
}

/* 우측 퀵메뉴 :: 서브페이지 */
.quick-menu.sub {
  top: 0;
  transform: translateY(0);
  margin-top: 200px;
}
